
  <mat-spinner *ngIf="isBusy"></mat-spinner>

  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <mat-card *ngFor="let monkey of monkeys$ | async let i = index" >
        <mat-card class="example-card" [ngStyle]="{'background-color': i % 2 === 0 ? 'cornflowerblue' : 'lightcoral' }" >
          <mat-card-header>
              <mat-card-title>{{ monkey.Name }}</mat-card-title>
              <mat-card-subtitle>{{ monkey.Location }} </mat-card-subtitle>
          </mat-card-header><img mat-card-image src= "{{ monkey.Image }}"
           alt="Photo of {{ monkey.Name }}">
          <mat-card-content>
            <p>
              {{ monkey.Details }}
            </p>
            <p>
              <b>Population:</b>
              {{ monkey.Population }}
            </p>
            <p> <b>Latitude / Longitude </b>
              {{ monkey.Latitude }}
              {{ monkey.Longitude }}
            </p>
          </mat-card-content>
        </mat-card>
      </mat-card>
    </div>
    <div class="col-lg-2">
    </div>
  </div>






